.Datafield {
  display: block;
  font-size: medium;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  color: grey;
  width: 90%;
  height: 3.5rem;
  border-radius: 5px;
  margin: 1.5rem;
  border: 1px solid rgb(175, 173, 173); 
  padding-left: 1rem;
}

.Datafield:focus {
  border: 1px solid #c9fdc5; 
  box-shadow:0px 0px 3px 3px #c9fdc5 ;
  
}

label {
  color: grey;
  margin-left:1.5rem;
}
